body {
	background-color: white;
	color: black;
	font-family: houschka-rounded, sans-serif;
	font-style: normal;
  	width: 100%;
    overflow-x: hidden;
}

/*FOOTER*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #450001;
    color: white;
	text-align: center;
}

.footer span {
	font-weight: normal;
}
/*NAVIGATION BAR*/

.navbar {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #450001;
    position: absolute;
    top: 30px;
    left: 0;
    width: 60%;
}

.navbar a {
    display: block;
    float: right;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
	font-weight: 600;
}

.navbar a.option:hover {
    cursor: pointer;
    background-color: #8d4b48;
}

.navbar a.active {
    background-color: #8d4b48;
}

.navbar .icon {
	display: none;
}

.navbar .storeName {
	float: left;
}

.storeName a:hover {
    cursor: pointer;
}

/*MEDIA QUERIES FOR NAV BAR*/

@media screen and (max-width: 1000px) {

	.navbar {
    	width: 100%;
	}
	.navbar a.name {
		display: none;
	}
	.navbar a {
		display: none;
   		float: left;
	}
	.navbar a.icon{
		float: right;
		display: block;
	}
}

@media screen and (max-width: 1000px) {

	.navbar.responsive {
		position: relative;
	}
	.navbar.responsive.icon{
		position: absolute;
		left: 0;
		top: 0;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: right;
	}
	.navbar.responsive a.name {
		display: none;
	}
}

/*MENU HTML*/

.menuTitle {
	font-size: 72px;
}

.menu {
	color: white;
	padding: 5px;
	background-color: #450001;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.menuitem {
	width: 350px;
	padding: 5px;
    display: inline-block;
}

.menuitem img {
	width: 300px;
}

.menuitem p {
	text-align: center;
}

/*LOCATION HTML*/
/*CSS TAKEN FROM https://www.embedgooglemap.net/*/

.mapouter{
	text-align:right;
	width:1000px;
	height:500px;
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	width:1000px;
	height:500px;
}

/*ORDER HTML*/
.orderbutton {
	position: relative;
	margin: 0px auto;
	color:transparent;
}

.doordash {
	width:374px;
	height:165px;
	background-image: url(../images/doordash.png);
}

.grubhub {
	width:374px;
	height:88px;
	background-image: url(../images/grubhub.png);
}

.orderbuttonimage {
	text-decoration: none;
}

form {
	margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.inputName {
	
}